# 实习六：事务与并发控制
---
## 组员：陈萧白，凤大骅，万承志
### 其中万承志是毕业班同学，已提前提交一致性研读报告，因此本文档中只包括前两个任务

本次实习需要完成不同事务隔离级别的加锁分析，以及死锁根因分析。我们先建立三个连接，并定义查看锁的函数，然后依次完成练习。

In [5]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://stu2000012926:stu2000012926@162.105.146.37:43306
%sql use stu2000012926;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.

[]

In [6]:
%%sql
show tables;

 * mysql://stu2000012926:***@162.105.146.37:43306
17 rows affected.

[('Assembly',),
 ('accounts',),
 ('aggResult',),
 ('application',),
 ('diamonds',),
 ('distance',),
 ('employees',),
 ('max_slidingWin',),
 ('order_record',),
 ('order_today',),
 ('originData',),
 ('result',),
 ('statics',),
 ('stock',),
 ('sum_slidingWin',),
 ('test',),
 ('train',)]

In [7]:
# 查看锁
conn1 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor2 = conn2.cursor()
conn3 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor3 = conn3.cursor()

def print_lock(table_name):
    sql = """
    SELECT a.ENGINE_TRANSACTION_ID TRANS_ID, a.OBJECT_NAME, a.INDEX_NAME, a.LOCK_TYPE, a.LOCK_MODE, a.LOCK_STATUS, a.LOCK_DATA  
    FROM performance_schema.data_locks a
    WHERE a.OBJECT_NAME = %s;
    """
    cursor3.execute(sql, table_name)
    col = cursor3.description
    list = []
    for i in range(len(col)):
        list.append(col[i][0])
    import prettytable as pt

    # 按行添加数据
    tb = pt.PrettyTable()
    tb.field_names = list
    data = cursor3.fetchall()
    for item in data:
        tb.add_row(item)

    print(tb)

## 任务一：系统内部加锁分析
---
选择组合二+组合五，依次完成。

首先完成组合二：

In [8]:
%%sql
# 创建表，id是二级唯一索引，name是主键

drop table if exists accounts;

CREATE TABLE accounts(
    name VARCHAR(10) PRIMARY KEY,
    id INT UNSIGNED UNIQUE KEY
);

INSERT INTO accounts VALUES('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5), ('F', 6), ('G', 7);
SELECT * FROM accounts;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
7 rows affected.
7 rows affected.

[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5), ('F', 6), ('G', 7)]

In [9]:
# 设置RC隔离级别
cursor1.execute("SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;")
conn1.commit()
cursor1.execute("SELECT @@transaction_isolation;")
print(cursor1.fetchall())

(('READ-COMMITTED',),)

In [10]:
# 查看加锁情况
cursor1.execute("DELETE FROM accounts WHERE id = 5;")
print_lock("accounts")
conn1.rollback()

+----------+-------------+------------+-----------+---------------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE |   LOCK_MODE   | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+---------------+-------------+-----------+
| 2427314  |   accounts  |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2427314  |   accounts  |     id     |   RECORD  | X,REC_NOT_GAP |   GRANTED   |   5, 'E'  |
| 2427314  |   accounts  |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |    'E'    |
+----------+-------------+------------+-----------+---------------+-------------+-----------+

结果显示，加了表级IX锁，以id=5为索引的记录锁，和以id=5对应的主键name='E'为索引的记录锁。

之后完成组合五：

In [11]:
%%sql
# 创建表，id是主键

drop table if exists accounts;

CREATE TABLE accounts(
    id INT UNSIGNED PRIMARY KEY,
    name VARCHAR(10)
);

INSERT INTO accounts VALUES(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E'), (6, 'F'), (7, 'G');
SELECT * FROM accounts;

 * mysql://stu2000012926:***@162.105.146.37:43306

0 rows affected.
0 rows affected.
7 rows affected.
7 rows affected.

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E'), (6, 'F'), (7, 'G')]

In [12]:
# 设置RR隔离级别
cursor1.execute("SET SESSION TRANSACTION ISOLATION LEVEL REPEATABLE READ;")
conn1.commit()
cursor1.execute("SELECT @@transaction_isolation;")
print(cursor1.fetchall())

(('REPEATABLE-READ',),)

In [13]:
# 查看加锁情况
cursor1.execute("DELETE FROM accounts WHERE id = 5;")
print_lock("accounts")
conn1.rollback()

+----------+-------------+------------+-----------+---------------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE |   LOCK_MODE   | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+---------------+-------------+-----------+
| 2427339  |   accounts  |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2427339  |   accounts  |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |     5     |
+----------+-------------+------------+-----------+---------------+-------------+-----------+

结果显示，加了表级IX锁，和以主键id=5为索引的记录锁。

## 任务二：死锁分析
---
同样地，先建立三个连接：

In [14]:
conn1.close()
conn2.close()
conn3.close()

In [15]:
conn1 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor2 = conn2.cursor()
conn3 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor3 = conn3.cursor()

def print_lock(table_name):
    sql = """
    SELECT a.ENGINE_TRANSACTION_ID TRANS_ID, a.OBJECT_NAME, a.INDEX_NAME, a.LOCK_TYPE, a.LOCK_MODE, a.LOCK_STATUS, a.LOCK_DATA  
    FROM performance_schema.data_locks a
    WHERE a.OBJECT_NAME = %s;
    """
    cursor3.execute(sql, table_name)
    col = cursor3.description
    list = []
    for i in range(len(col)):
        list.append(col[i][0])
    import prettytable as pt

    # 按行添加数据
    tb = pt.PrettyTable()
    tb.field_names = list
    data = cursor3.fetchall()
    for item in data:
        tb.add_row(item)

    print(tb)

创建所要更新的表：

In [16]:
%%sql

DROP TABLE IF EXISTS data_table;

CREATE TABLE data_table(
    id INT PRIMARY KEY,
    data INT
);

INSERT INTO data_table VALUES(0, 100);

SELECT * FROM data_table;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.

[(0, 100)]

这里构造死锁：事务1先读取表，接下来事务2试图删除表项，然后事务1试图删除表项

In [17]:
cursor1.execute('SELECT * FROM data_table FOR SHARE;')
cursor2.execute('DELETE FROM data_table WHERE id=0;')
cursor1.execute('DELETE FROM data_table WHERE id=0;')

conn1.commit()
conn2.commit()

OperationalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

结果报错，发生了死锁，接下来查看锁相关的字典表：

In [18]:
print_lock('data_table')

+-----------------+-------------+------------+-----------+-----------+-------------+------------------------+
|     TRANS_ID    | OBJECT_NAME | INDEX_NAME | LOCK_TYPE | LOCK_MODE | LOCK_STATUS |       LOCK_DATA        |
+-----------------+-------------+------------+-----------+-----------+-------------+------------------------+
|     2427352     |  data_table |    None    |   TABLE   |     IX    |   GRANTED   |          None          |
| 562948612797392 |  data_table |    None    |   TABLE   |     IS    |   GRANTED   |          None          |
| 562948612797392 |  data_table |  PRIMARY   |   RECORD  |     S     |   GRANTED   | supremum pseudo-record |
| 562948612797392 |  data_table |  PRIMARY   |   RECORD  |     S     |   GRANTED   |           0            |
+-----------------+-------------+------------+-----------+-----------+-------------+------------------------+

事务1持有对记录id=0的S锁，然后希望升级为X锁来进行删除操作；但此时事务2已经发出了对记录id=0的X锁请求，这个请求需要等待事务1的S锁释放才能完成，而由于事务2先申请了X锁，事务1需要等待事务2的X锁请求完成，S锁无法升级为X锁，产生死锁。