# 实习六：事务与并发控制
---
## 组员：陈萧白，凤大骅，万承志
### 其中万承志是毕业班同学，已提前提交一致性研读报告，因此本文档中只包括前两个任务

本次实习需要完成不同事务隔离级别的加锁分析，以及死锁根因分析。我们先建立三个连接，并定义查看锁的函数，然后依次完成练习。

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://stu2000012926:stu2000012926@162.105.146.37:43306
%sql use stu2000012926;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.

[]

In [2]:
%%sql
show tables;

 * mysql://stu2000012926:***@162.105.146.37:43306
16 rows affected.

[('Assembly',),
 ('aggResult',),
 ('application',),
 ('diamonds',),
 ('distance',),
 ('employees',),
 ('max_slidingWin',),
 ('order_record',),
 ('order_today',),
 ('originData',),
 ('result',),
 ('statics',),
 ('stock',),
 ('sum_slidingWin',),
 ('test',),
 ('train',)]

In [10]:
# 查看锁
conn1 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor1 = conn1.cursor()
conn2 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor2 = conn2.cursor()
conn3 = pymysql.connect(host='162.105.146.37',user='stu2000012926', password='stu2000012926', port=43306,db="stu2000012926")
cursor3 = conn3.cursor()

def print_lock():
    cursor3.execute("SELECT a.ENGINE_TRANSACTION_ID TRANS_ID, a.OBJECT_NAME, a.INDEX_NAME, a.LOCK_TYPE, a.LOCK_MODE, a.LOCK_STATUS, a.LOCK_DATA  FROM performance_schema.data_locks a;")
    col = cursor3.description
    list = []
    for i in range(len(col)):
        list.append(col[i][0])
    import prettytable as pt

    # 按行添加数据
    tb = pt.PrettyTable()
    tb.field_names = list
    data = cursor3.fetchall()
    for item in data:
        tb.add_row(item)

    print(tb)
print_lock()

+----------+-------------+------------+-----------+---------------+-------------+-----------+
| TRANS_ID | OBJECT_NAME | INDEX_NAME | LOCK_TYPE |   LOCK_MODE   | LOCK_STATUS | LOCK_DATA |
+----------+-------------+------------+-----------+---------------+-------------+-----------+
| 2272784  |   Assembly  |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2272783  |     tmp     |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2272776  |     tmp     |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2272776  |     tmp     |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |    None   |
| 2272773  |   Assembly  |    None    |   TABLE   |       IX      |   GRANTED   |    None   |
| 2272773  |   Assembly  |  PRIMARY   |   RECORD  | X,REC_NOT_GAP |   GRANTED   |    None   |
+----------+-------------+------------+-----------+---------------+-------------+-----------+

## 任务一：系统内部加锁分析
---
选择组合二+组合五，依次完成。

## 任务二：死锁分析
---
待补充